<div class="row" style="margin-top:60px">
  	<div class="col-sm-12">
    	<ol class="breadcrumb">
	      	<li>
	        	<span>新增產品</span>
	      	</li>
	    </ol>
  	</div>
</div>

<div class="row">
  	<div class="col-sm-12">
  		  <form *ngIf="active" (ngSubmit)="onSubmit()" #addProductForm="ngForm">
      		  <div class="row">
        		    <div class="col-sm-6" ngControlGroup="name" #name="ngForm">
          			    <div class="form-group">
                				<label for="name" class="col-sm-3 control-label">產品名稱</label>
                  			<div class="col-sm-9">
                    				<input type="text" class="form-control" required>
              			    </div>
            		    </div>  
                    <br>                 
          			    <div class="form-group">
              				  <label for="type" class="col-sm-3 control-label">產品類型</label>
                  			<div class="col-sm-9">            				
                    				<input type="radio" name="type" value="0" checked>專用
                            <input type="radio" name="type" value="1">泛用
                  			</div>
                		</div>
                    <br>
                    <div class="form-group">
                        <label for="attr" class="col-sm-3 control-label">產品屬性</label>
                        <div class="col-sm-9">                    
                            <input type="checkbox" value="red" checked>紅
                            <input type="checkbox" value="white">白
                            <input type="checkbox" value="yellow">黃
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="price" class="col-sm-3 control-label">產品單價</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="count" class="col-sm-3 control-label">產品數量</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">銷售狀態</label>
                        <div class="col-sm-9">                    
                            <input type="radio" name="status" value="0" checked>可賣
                            <input type="radio" name="status" value="1">待售
                        </div>
                    </div>
                </div>
            </div>
          	<button class="btn btn-primary col-sm-offset-5" type="submit">新增</button>
        </form>
  	</div>
</div>