<div class="row" style="margin-top:70px">
  	<div class="col-sm-12">
  		<div class="col-sm-6 col-sm-offset-3">
    		<h1>歡迎進入訂單管理系統</h1>
    		<br>
    		<div class="pull-left"><h4>開發環境：</h4></div>
    		<div class="pull-left"><h4>Ubuntu - 14.04</h4></div>
    		<div class="pull-left"><h4>Angular 2</h4></div>
    		<div class="pull-left"><h4>Node JS - v5.11.1</h4></div>
    		<div class="pull-left"><h4>Bootstrap - 4.0.0-alpha.2</h4></div>
    		<div class="pull-left"><h4>typescript - 1.8.10</h4></div>
    	</div>
  	</div>
</div>