<div class="row" style="margin-top:60px">
  	<div class="col-sm-12">
        <a class="btn btn-secondary" style="margin-top:10px;" (click)="addMember()">新增會員</a>
  	</div>
</div>
<table class="table">
    <thead>
  		  <tr>
      		  <th sortable="'Name'">姓名</th>
        		<th sortable="'email'">E-mail</th>
            <th></th>
  		  </tr>
        <tr *ngFor="let m of members">
            <td>{{m.name}}</td>
            <td>{{m.email}}</td>
            <td>
                <button class="btn btn-secondary" type="button">修改</button>
                <button class="btn btn-danger-outline" type="button">刪除</button> 
            </td>
        </tr>
  	</thead>
</table>