<div class="row" style="margin-top:60px">
  <div class="col-sm-12">
    <a class="btn btn-secondary" style="margin-top:10px;" (click)="addOrder()">新增訂單</a>
  </div>
</div>
<table class="table">
	<thead>
  		<tr>
    			<th sortable="'No'">訂單序號</th>
    			<th sortable="'Status'">訂單狀態</th>
      		<th sortable="'Name'">產品名稱</th>
      		<th sortable="'Count'">訂購數量</th>
      		<th sortable="'MemberName'">訂購會員名稱</th>
      		<th sortable="'MemberEmail'">訂購會員E-mail</th>
          <th></th>
  		</tr>
      <tr *ngFor="let o of orders">
            <td>{{o.serial}}</td>
            <td>{{o.status}}</td>
            <td>{{o.name}}</td>
            <td>{{o.count}}</td>
            <td>{{o.orderName}}</td>
            <td>{{o.orderEmail}}</td>
            <td>
                <button class="btn btn-secondary" type="button">修改</button>
                <button class="btn btn-danger-outline" type="button">刪除</button> 
            </td>
        </tr>
  	</thead>
</table>