<div class="row" style="margin-top:60px">
  <div class="col-sm-12">
    <a class="btn btn-secondary" style="margin-top:10px;" (click)="addProduct()">新增產品</a>
  </div>
</div>
<table class="table">
	<thead>
  		<tr>
    		  <th sortable="'Name'">產品名稱</th>
      		<th sortable="'Type'">產品類型</th>
      		<th sortable="'Attr'">產品屬性</th>
      		<th sortable="'Price'">產品單價</th>
      		<th sortable="'Count'">產品數量</th>
      		<th sortable="'Status'">銷售狀態</th>
          <th></th>
  		</tr>
      <tr *ngFor="let p of products">
            <td>{{p.name}}</td>
            <td>{{p.type}}</td>
            <td>{{p.attribute}}</td>
            <td>{{p.price}}</td>
            <td>{{p.count}}</td>
            <td>{{p.status}}</td>
            <td>
                <button class="btn btn-secondary" type="button">修改</button>
                <button class="btn btn-danger-outline" type="button">刪除</button> 
            </td>
        </tr>
  	</thead>
</table>