<div class="row" style="margin-top:60px">
  <div class="col-sm-12">
    <a class="btn btn-secondary" style="margin-top:10px;" (click)="addProduct()">新增產品</a>
  </div>
</div>
<table class="table">
	<thead>
  		<tr>
    		  <th sortable="'Name'">產品名稱</th>
      		<th sortable="'Type'">產品類型</th>
      		<th sortable="'Attr'">產品屬性</th>
      		<th sortable="'Price'">產品單價</th>
      		<th sortable="'Count'">產品數量</th>
      		<th sortable="'Status'">銷售狀態</th>
          <th></th>
  		</tr>
  	</thead>
</table>